.offers{
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
}

.offers-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1{
  color: #171717;
  font-size: 40px;
  font-weight: 400;
}

.offers-left p{
  color: #171717;
  font-size: 40px;
  font-weight: 600;
}

.offers-left button{
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size :15px; 
  font-weight: 600;
  margin-top: 30px; 
  cursor: pointer;
}

.offers-right{
  flex: 1;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.offers-right img{
  max-width: 700px; 
  max-height: 800px; 
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  /* Add any additional styles as needed */
}
